.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 10px 30px;
}

.navbar-logo{
    width: 80px;
}

.navbar-links{
    display: flex;
    font-family: 'Roboto Mono', monospace;
}

.navbar-link{
    margin: 10px;
    color: #64ffda;
    font-family: 'Roboto Mono', monospace;
}

#light .navbar-link{
    margin: 10px;
    color:  #183444;
    font-family: 'Roboto Mono', monospace;
}

.navbar-links-phone{
    display: none;
}

@media screen and (max-width: 850px){

    .navbar-nav{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
        gap: 10px;
    }

    .navbar-links{
        display: none;
    }

    .navbar-links-phone{
        display: block;
    }

    .navbar-phone-open{
        display: grid;
        grid-template-columns: repeat(1, minmax(0,1fr));
    }

    .navbar-phone-icon{
        background-color:  #1a4a65;
        color: #64ffda;
        padding: 8px;
        border-radius: 6px;
    }
}
