.other-div{
    width: 30%;
}

@media screen and (max-width: 992px) {
    .other-div{
        width: 100%;
    }
  }

.other-content-div{
    background-color: #112240;
    margin: 10px;
    padding: 20px;
    height: 300px;
}

.other-desc{
    font-size: 14px;
}

.other-tech{
    font-family: 'Roboto Mono', monospace;
    color: #64ffda;
    font-weight: 200;
    font-size: 0.8rem;
 
}

.other-all-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}