.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copyright{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 0;
    margin-top: 100px;
    font-size: 0.6rem;
}

#light .footer-copyright{
    color: #183444;
}

.footer-version{
    font-family: 'Roboto Mono', monospace;
    margin-top: 10;
    margin-bottom: 30px;
    font-size: 0.6rem;
}

#light .footer-version{
    color: #183444;
}
